{% extends "base.html" %}
{% block title %}{{ headline.subject }}{% endblock %}
{% block content %}
    <div itemscope itemtype="http://schema.org/NewsArticle">
        <h2 itemtype="headline">{{headline.subject}}</h2>
        {% if headline.image_link %}
        <img itemtype="image" src="http://{{headline.image_link}}" class="img-rounded img-responsive" width=100% height=100% />
        {% endif %}
        <p itemtype="description">{{headline.description}}</p>
        <p itemtype="isBasedOnUrl">Source: <a href="http://{{headline.source_link}}" target="_blank">{{headline.source_link}}</a></p>
    </div>
{% endblock %}