{% extends "base.html" %}
{% block title %}gaming news{% endblock %}
{% block content %}
    <p style="background: yellow; width: 100%;">{{ notification }}</p>
    <div class="jumbotron" style="background:url('http://www.lorempixel.com/800/600/') center center;">
        <h1>Jumbotron Heading</h1>
        <p class="lead">some lead text as overlay on this Jumbotron.</p>
        <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
    </div>
    <div class="row marketing">
    {% for headline in headlines.object_list %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-lg-6">
            <a href="{% url headline_detail headline.id %}"><h4>{{ headline.subject }}</h4></a>
            <p>{% if headline.published_today %}*new label*{% else %} <small>{{ headline.publication_date|date:"d M Y" }} </small>{% endif %}{{ headline.description|truncatewords:10 }}</p>
        </div>
        {% else %}
        <div class="col-lg-6">
            <a href="{% url headline_detail headline.id %}"><h4>{{ headline.subject }}</h4></a>
            <p>{% if headline.published_today %}*new label*{% else %} <small>{{ headline.publication_date|date:"d M Y" }} </small>{% endif %}{{ headline.description|truncatewords:10 }}</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if headlines.has_previous %}
                <a href="?page={{ headlines.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ headlines.number }} of {{ headlines.paginator.num_pages }}.
            </span>

            {% if headlines.has_next %}
                <a href="?page={{ headlines.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}