{% extends "base.html" %}
{% block title %}gaming news{% endblock %}
{% block content %}
    {% if notification %}<p class="alert alert-info">{{ notification }}</p>{% endif %}
    {% if jumbotron %}
    <div class="jumbotron" style="background:url('{% if jumbotron.imagelocal_link %}{{jumbotron.imagelocal_link}}{% else %}{{jumbotron.image_link.url}}{% endif %}') no-repeat; background-size: 100% auto;">
        <h1>{{jumbotron.header_text}}</h1>
        <p class="lead">{{jumbotron.lead_text}}</p><br />
        <p><a class="btn btn-lg btn-success" href="http://{{jumbotron.affiliate_link}}" target="_blank">Get it!</a></p>
    </div>
    {% else %}
    <div class="jumbotron" style="background:url('http://www.lorempixel.com/800/600/') no-repeat; background-size: 100% auto;">
        <h1>Fallback Jumbotron Heading</h1>
        <p class="lead">some lead text as overlay on this Jumbotron.</p>
        <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
    </div>
    {% endif %}
    <div itemscope itemtype="http://schema.org/NewsArticle" class="row marketing">
    {% for headline in headlines.object_list %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-lg-6">
            <h4 class="headline" itemprop="headline">
            {% if headline.published_today %}<span class="label label-success">new</span>{% endif %}
            {% if headline.hotness_label %}<span class="label label-danger">{{headline.hotness_label}}</span>{% endif %}
            {% if headline.utility_label %}<span class="label label-info">{{headline.utility_label}}</span>{% endif %}
            {% if headline.functional_label %}<span class="label label-warning">{{headline.functional_label}}</span>{% endif %}
            <a href="{% url headline_detail headline.id %}"> {{ headline.subject }}</a>
            </h4>
            <p class="headline_description" itemprop="description"><small>{{ headline.publication_date|date:"d M Y" }} | </small>{{ headline.description|truncatewords:30 }}</p>
        </div>
        {% else %}
        <div class="col-lg-6">
            <h4 class="headline" itemprop="headline">
            {% if headline.published_today %}<span class="label label-success">new</span>{% endif %}
            {% if headline.hotness_label %}<span class="label label-danger">{{headline.hotness_label}}</span>{% endif %}
            {% if headline.utility_label %}<span class="label label-info">{{headline.utility_label}}</span>{% endif %}
            {% if headline.functional_label %}<span class="label label-warning">{{headline.functional_label}}</span>{% endif %}
            <a href="{% url headline_detail headline.id %}"> {{ headline.subject }}</a>
            </h4>
            <p class="headline_description" itemprop="description"><small>{{ headline.publication_date|date:"d M Y" }} | </small>{{ headline.description|truncatewords:30 }}</p>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if headlines.has_previous %}
                <a href="?page={{ headlines.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ headlines.number }} of {{ headlines.paginator.num_pages }}.
            </span>

            {% if headlines.has_next %}
                <a href="?page={{ headlines.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}