{% extends "base.html" %}
{% block title %}Whaddityawannaknow{% endblock %}
{% block content %}
    <img src="/static/img/content/gestures.png" class="img-responsive" />
    <h1>+</h1>
    <h1>pwn</h1>
    <p><a href="http://en.wiktionary.org/wiki/pwn"><h4>Noun: </h4>(Internet, online gaming, slang, originally leet) Triumph, defeat, victory. Often exclaimed after an opponent in a video game is defeated.</a></p>
    <h1>=</h1>
    <h1>tapwn</h1>
    <p>Whaddityawannaknow?  This is a gaming site.</p>
{% endblock %}