<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>tapwn | {% block title %}Homepage{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/static/img/design/tapwn.png" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet" type="text/css" media="all" >
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url home %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li><a href="{% url about %}"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                        <li><a href="mailto:somebody@somewhere.com?Subject=Submit%20A%20Link" target="_top"><span class="glyphicon glyphicon-link"></span> Submit a Story</a></li>
                    </ul>
                </li>
            </ul>
            <h3 class="text-muted" id="logo"><a href="{% url home %}">tapwn</a></h3>
        </div>
    	<div id="content">
    		{% block content %}{% endblock %}
    	</div>
        <div class="footer">
            <p>&copy; tapwn 2013
            <span class="pull-right">
                <a href="{% url home %}">Home </a>
                <a href="{% url about %}">About </a>
                <a href="mailto:somebody@somewhere.com?Subject=Hi%20There" target="_top">Contact</a>
                <a href="mailto:somebody@somewhere.com?Subject=Want%20To%20Advertise" target="_top">Advertise</a>
            </span>
            </p>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>