<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>tapwn | {% block title %}Homepage{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />-->
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet" type="text/css" media="all" >
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="{% url home %}">Home</a></li>
                <li><a href="{% url about %}">About</a></li>
                <li><a href="mailto:somebody@somewhere.com?Subject=Hi%20There" target="_top">Contact</a></li>
            </ul>
            <h3 class="text-muted" id="logo">Logo</h3>
        </div>
    	<div id="content">
    		{% block content %}{% endblock %}
    	</div>
        <div class="footer">
            <p>&copy; tapwn 2013</p>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!--<script src="/static/js/bootstrap.min.js"></script>-->
</body>
</html>